h1 {
    color: rgb(16, 171, 86);
    font-size: 20px;
    font-weight: bold;
}
h2 {
    color: rgb(78, 61, 158);
    font-size: 20px;
    font-weight: bold;
}
.stupidPooHead {
    color: rgb(218, 34, 138);
    font-size: 85px;
    font-weight: bold;
}